{% extends "mentees_app/fixed/base.html" %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block banner_title %}
Mentor Profile
{% endblock %}

{% block content %}
<style>
  .profile-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: #f8f7f6;
  }
  .profile-header {
    text-align: center;
    position: relative;
    margin-bottom: 20px;
  }
  .profile-img-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Center the image */
  }
  .profile-img {
    border-radius: 70%;
    border: 3px solid #ddd;
    max-width: 100px; 
    height: auto;
  }
  .profile-form {
    margin-top: 20px;
  }
  .profile-form .form-group {
    margin-bottom: 15px;
  }
  .profile-form .form-control {
    border-radius: 5px;
  }
  .btn-primary {
    background-color: #075e54;
    border-color: #075e54;
  }
</style> 
{% load crispy_forms_tags %}

<div class="profile-container">
  <div class="profile-header">
    {% comment %} <h2>Mentor Profile</h2> {% endcomment %}
    <div class="profile-img-container">
      <img src="{% static 'admin_mentor_app/images/pic-6.jpg' %}" class="profile-img" alt="Profile Image">
    </div>
    </div>
  {% comment %} <div class="profile-img-container">
      <img src="{% static 'admin_mentor_app/images/pic-6.jpg' %}" class="profile-img" alt="Profile Image">
    </div> {% endcomment %}

  <div class="profile-form">
    <form action="" method="post" enctype="multipart/form-data" id="profile_form">
      {% csrf_token %}
      {{ form|crispy }}
      <button type="submit" class="btn btn-primary">Change Profile</button>
    </form>
  </div>
</div>
{%endblock%}
