{% extends 'admin_mentor_app/fixed/base.html'  %}
{% block content  %}

<div class="container mt-5">
    <h2 class="mb-4">Mentees  <span style="font-size: 20px;">/List</span>
    </h2>
    <div class="row mb-4">
        <div class="col-md-6 d-flex align-items-start">
            <select name="mentee_category" id="mentee_category" class="form-select" data-live-search="true">
                <option data-tokens="pending">Pending</option>
                <option data-tokens="completed">Completed</option>
                <option data-tokens="request">Requesting</option>
            </select>
        </div>
        <div class="col-md-5 d-flex justify-content-end align-items-end">
            <input type="text" class="form-control me-2" name="search_mentees" id="search_mentees" placeholder="Search">
        </div>
        <div class="col-md-1 d-flex justify-content-end align-items-end">
            <button class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </div>
    <div class="row">
        <table class="table table-hover table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>Contact</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for mentee in my_mentees %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ mentee.first_name }} {{ mentee.last_name }}</td>
                        <td>{{ mentee.email }}</td>
                        <td>{{ mentee.gender }}</td>
                        <td>{{ mentee.nationality }}</td>
                        <td>{{ mentee.telephone }}</td>
                        <td>
                            <a href="{% url 'preview_mentee' mentee.id %}" class="btn btn-sm btn-outline-primary align-items-centre">Preview</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            
              
            </tbody>
        </table>
    </div>

</div>

{% endblock content  %}
