__pycache__/
# Ignore Python compiled files
*.py[cod]
__pycache__/

# Ignore virtual environment directories
venv/
env/

# Ignore database files
*.sqlite3

# Ignore Django migration files
*/migrations/*.py
*/migrations/*.pyc

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system files
.DS_Store
Thumbs.db
