<!-- templates/register.html -->

{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <title>Mentor.Social</title>
  <script src="{% static 'admin_mentor_app/js/jquery.js' %}"></script>
  <link rel="shortcut icon" href="{% static 'admin_mentor_app/images/fav.png' %}" type="image/x-icon" />
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap" rel="stylesheet" />
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" />
  <style>
    .container-fluid {
      padding-top: 50px;
      padding-bottom: 100px;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-11">
          <div class="login-container">
            <div class="row">
              <div class="col-lg-4 col-md-4">
                <img src="{% static 'admin_mentor_app/images/sideimg.png' %}" class="img-fluid" alt="" />
              </div>
              <div class="col-lg-8 col-md-8">
                <div class="login-box">
                  <h5>Register</h5>
                  <form action="{% url 'register' %}" method="post" id="register_form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div class="login-row row no-margin mt-2 text-end">
                      <div class="col">
                        <a href="{% url 'login' %}" type="submit" class="btn btn-secondary">Register</a>
                      </div>
                    </div>
                  </form>
                  <div class="login-row row no-margin mt-2 text-end">
                   
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.1/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>

</html>